[submodule "site-lisp/evil-easymotion"]
	path = site-lisp/evil-easymotion
	url = git@github.com:PythonNut/evil-easymotion.git
[submodule "site-lisp/ox-hugo"]
	path = site-lisp/ox-hugo
	url = git@github.com:kaushalmodi/ox-hugo.git
[submodule "site-lisp/org-bullets"]
	path = site-lisp/org-bullets
	url = git@github.com:sabof/org-bullets.git
[submodule "site-lisp/julia-repl"]
	path = site-lisp/julia-repl
	url = git@github.com:tpapp/julia-repl.git
[submodule "site-lisp/liberime"]
	path = site-lisp/liberime
	url = git@github.com:merrickluo/liberime.git
[submodule "site-lisp/make-it-so"]
	path = site-lisp/make-it-so
	url = git@github.com:abo-abo/make-it-so.git
[submodule "site-lisp/helm-fasd"]
	path = site-lisp/helm-fasd
	url = git@github.com:ajsalminen/helm-fasd.git
[submodule "site-lisp/latex-wrap"]
	path = site-lisp/latex-wrap
	url = git@github.com:abo-abo/latex-wrap.git
